body{
background-color: #ECE5C7;
}

h1{
  color: #CC9C75;
  font-size: 100px;

}

h3{
  color: #CC9C75;

}
h4{
  text-align: center;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;

}
img {
  height: 160px;
  width: 160px;
}
p{
  text-align: center;
}
